@import '../../scss/variables';

.itemWrapper {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	border: 1px solid white;
	border-radius: $radius;
	margin-bottom: 20px;
	margin-top: 40px;
	padding: 20px;
}

.iconWrapper {
	font-size: 50px;
	display: flex;
	text-align: center;
	margin-right: 20px;
	cursor: pointer;
}
.active {
	color: green;
	transition: $transition;
	transform: scale(1.2);
}
.interfaceWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.interfaceWrapper button {
	margin-bottom: 15px;
}
