@import '../../../scss/variables';

.customIntputWrapper {
	background-color: $backgroundColor;
	border: 1px solid white;
	border-radius: $radius;
	padding: 10px 20px;
	margin-bottom: 20px;
	color: $text;
}
