$backgroundColor: #0b0a33;
$background-opacity: rgba(0, 0, 0, 0.7);
$text: white;
$border: #398dc0;

$regular-text: 16px;
$small-text: 14px;
$lineheight: 1.75;
$userfont: 'DM Sans', sans-serif;
$transition: 0.25s ease-out;
$radius: 20px;

$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition(
	$property: all,
	$duration: 0.45s,
	$ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
	transition: $property $duration $ease;
}
